<fieldset id='payment' style="width:70%;">
<% payment_method = @gateway %>
<% form_tag @gateway.preferred_url do -%>
<h2><%= t('ebsin_payment') %></h2>
<fieldset id="order_details">
  <div class="clear"></div>
  <legend><%= t("confirm") %></legend>
  <%= render :partial => 'shared/order_details', :locals => {:order => @order} -%>
</fieldset>

<hr />
<p><%= t('ebsin_instuctional_text') %></p>
	<%= hidden_field_tag 'account_id', payment_method.preferred_account_id %>
	<%= hidden_field_tag 'reference_no', @order.number %>
	<%= hidden_field_tag 'amount', @order.total.to_s %>
        <%= hidden_field_tag 'return_url', [ebsin_comeback_order_checkout_url(@order,{:payment_method_id => payment_method, :order_token => @order.token}),'DR={DR}'].join('&')  %>
	<%= hidden_field_tag 'name', [@order.bill_address.firstname,  @order.bill_address.lastname].join(' ') %>
	<%= hidden_field_tag 'address', @order.bill_address.address1 %>
	<%= hidden_field_tag 'city', @order.bill_address.city %>
	<%= hidden_field_tag 'postal_code', @order.bill_address.zipcode %>
	<%= hidden_field_tag 'country', @order.bill_address.country.iso3 %>
        <%= hidden_field_tag 'description', "Spree Order: #{@order.number}" %>
        <%= hidden_field_tag 'email', @order.email || 'email@example.com' %>

        <%= hidden_field_tag 'mode',  @gateway.preferred_mode %> 
        <%= hidden_field_tag 'phone', @order.bill_address.phone %> 
        <%= hidden_field_tag 'state', @order.bill_address.state.nil? ? @order.bill_address.state_name : @order.bill_address.state.name  %>

        <%= hidden_field_tag 'ship_address', @order.bill_address.address1 %>
        <%= hidden_field_tag 'ship_city', @order.bill_address.city %>
        <%= hidden_field_tag 'ship_country', @order.bill_address.country.iso3 %>
        <%= hidden_field_tag 'ship_name', [@order.bill_address.firstname,  @order.bill_address.lastname].join(' ') %>
        <%= hidden_field_tag 'ship_phone', @order.bill_address.phone %>
        <%= hidden_field_tag 'ship_postal_code', @order.bill_address.zipcode %> 
        <%= hidden_field_tag 'ship_state', @order.bill_address.state.nil? ? @order.bill_address.state_name : @order.bill_address.state.name %>

	<%= submit_tag t('ebsin_submit') %>
<% end %>



</fieldset>
