<fieldset id='payment' style="width:70%;">
  <%= form_tag @gateway.preferred_url do -%>

  <h3 class="heading"><%= t("confirm") %> your order</h3>

  <fieldset id="order_details" style='padding-left:0px;'>
    <div class="clear"></div>
    <p style='text-transform:uppercase;font-weight:bold; margin:0px 0px 10px 0px;'>ORDER NO. <%= @order.number %> (<a href="/checkout/payment" style="font-size: 12px; font-weight:normal;">&larr; Back to payment options</a>)</p>
    <%= render :partial => 'spree/shared/order_details', :locals => {:order => @order} -%>
  </fieldset>

  <hr />
  <p class="tenpx"><%= t('ebsin_instuctional_text') %></p>
  <%= hidden_field_tag 'account_id',      @gateway.preferred_account_id %>
  <%= hidden_field_tag 'reference_no',    @order.number %>
  <%= hidden_field_tag 'amount',          @order.total.to_s %>
  <%= hidden_field_tag 'return_url',      [gateway_ebsin_comeback_url(@order),'DR={DR}'].join('?')  %>
  <%= hidden_field_tag 'secure_hash',     @hash %>
  <%= hidden_field_tag 'name',            @bill_address.firstname %>
  <%= hidden_field_tag 'address',         @bill_address.address1 %>
  <%= hidden_field_tag 'city',            @bill_address.city %>
  <%= hidden_field_tag 'postal_code',     @bill_address.zipcode %>
  <%= hidden_field_tag 'country',         @bill_address.country.iso3 %>
  <%= hidden_field_tag 'description',     "#{Spree::Config[:site_name]} Order: #{@order.number}" %>
  <%= hidden_field_tag 'email',           (@order.email || @order.user.try(:email))  %>

  <%= hidden_field_tag 'mode',            @gateway.preferred_mode %>
  <%= hidden_field_tag 'phone',           @bill_address.phone %>
  <%= hidden_field_tag 'state',           (@bill_address.state.try(:name) || @bill_address.state_name) %>

  <%= hidden_field_tag 'ship_address',    @ship_address.address1 %>
  <%= hidden_field_tag 'ship_city',       @ship_address.city %>
  <%= hidden_field_tag 'ship_country',    @ship_address.country.iso3 %>
  <%= hidden_field_tag 'ship_name',       @ship_address.full_name %>
  <%= hidden_field_tag 'ship_phone',      @ship_address.phone %>
  <%= hidden_field_tag 'ship_postal_code', @ship_address.zipcode %>
  <%= hidden_field_tag 'ship_state',      (@ship_address.state.try(:name) || @ship_address.state_name) %>
  <div class="form-buttons savebutton_properties" style="margin-top:15px;">
  <%= submit_tag t('ebsin_submit') %>
  </div>
  <% end %>
</fieldset>